Repository vaibhav-blitzy/trial-project-3-ex2zz4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @accessibility-team, @compliance-team, @devops-team, @cloud-architecture-team, @database-team, @architecture-team, @ui-team, @performance-team, @data-team

.github/CODEOWNERS:

* @project-leads

# Backend service ownership
src/backend/**/* @backend-team @security-team

# Frontend application ownership
src/web/**/* @frontend-team @accessibility-team

# Authentication service with enhanced security
src/backend/services/auth-service/**/* @security-team @backend-team @compliance-team

# Infrastructure and deployment
infrastructure/**/* @devops-team @security-team @cloud-architecture-team

# CI/CD workflows
.github/workflows/* @devops-team @security-team

# Database migrations
src/backend/db/migrations/* @database-team @backend-team @security-team

# Security configurations
infrastructure/security/* @security-team @compliance-team

# Shared backend utilities
src/backend/shared/**/* @backend-team @architecture-team @security-team

# UI components
src/web/src/components/**/* @frontend-team @ui-team @accessibility-team

# Task service
src/backend/services/task-service/**/* @backend-team @performance-team

# Project service
src/backend/services/project-service/**/* @backend-team @data-team

Add public-samples/trial-project-3-ex2zz4/src/backend/shared/interfaces/task.interface.ts
  src/backend/shared/interfaces/task.interface.ts
Owners: @backend-team, @architecture-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/shared/middleware/error-handler.ts
  src/backend/shared/middleware/error-handler.ts
Owners: @backend-team, @architecture-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/shared/middleware/request-logger.ts
  src/backend/shared/middleware/request-logger.ts
Owners: @backend-team, @architecture-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/shared/utils/database.util.ts
  src/backend/shared/utils/database.util.ts
Owners: @backend-team, @architecture-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/shared/utils/logger.util.ts
  src/backend/shared/utils/logger.util.ts
Owners: @backend-team, @architecture-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/shared/utils/redis.util.ts
  src/backend/shared/utils/redis.util.ts
Owners: @backend-team, @architecture-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/shared/utils/validation.util.ts
  src/backend/shared/utils/validation.util.ts
Owners: @backend-team, @architecture-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/shared/validators/common.validator.ts
  src/backend/shared/validators/common.validator.ts
Owners: @backend-team, @architecture-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/.env.development
  src/web/.env.development
Owners: @frontend-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/.env.production
  src/web/.env.production
Owners: @frontend-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/.env.test
  src/web/.env.test
Owners: @frontend-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/README.md
  src/web/README.md
Owners: @frontend-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/index.html
  src/web/index.html
Owners: @frontend-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/package.json
  src/web/package.json
Owners: @frontend-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/src/assets/fonts/index.ts
  src/web/src/assets/fonts/index.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/src/assets/icons/index.ts
  src/web/src/assets/icons/index.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/src/assets/images/index.ts
  src/web/src/assets/images/index.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/auth/LoginForm.tsx
Owners: @frontend-team, @ui-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/src/components/auth/RegisterForm.tsx
  src/web/src/components/auth/RegisterForm.tsx
Owners: @frontend-team, @ui-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/src/components/common/Avatar.tsx
  src/web/src/components/common/Avatar.tsx
Owners: @frontend-team, @ui-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/src/components/common/Badge.tsx
  src/web/src/components/common/Badge.tsx
Owners: @frontend-team, @ui-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/src/components/common/Button.tsx
  src/web/src/components/common/Button.tsx
Owners: @frontend-team, @ui-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/src/components/common/Card.tsx
  src/web/src/components/common/Card.tsx
Owners: @frontend-team, @ui-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/src/components/common/Checkbox.tsx
  src/web/src/components/common/Checkbox.tsx
Owners: @frontend-team, @ui-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/src/components/common/DatePicker.tsx
  src/web/src/components/common/DatePicker.tsx
Owners: @frontend-team, @ui-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/src/components/common/Dialog.tsx
  src/web/src/components/common/Dialog.tsx
Owners: @frontend-team, @ui-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/src/components/common/Dropdown.tsx
  src/web/src/components/common/Dropdown.tsx
Owners: @frontend-team, @ui-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/src/components/common/FileUpload.tsx
  src/web/src/components/common/FileUpload.tsx
Owners: @frontend-team, @ui-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/src/components/common/Input.tsx
  src/web/src/components/common/Input.tsx
Owners: @frontend-team, @ui-team, @accessibility-team

Add public-samples/trial-project-3-ex2zz4/src/web/src/components/common/Loading.tsx
  src/web/src/components/common/Loading.tsx
Owners: @frontend-team, @ui-team, @accessibility-team
