Repository vaibhav-blitzy/trial-project-3-ex2zz4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @accessibility-team, @compliance-team, @devops-team, @cloud-architecture-team, @database-team, @architecture-team, @ui-team, @performance-team, @data-team

.github/CODEOWNERS:

* @project-leads

# Backend service ownership
src/backend/**/* @backend-team @security-team

# Frontend application ownership
src/web/**/* @frontend-team @accessibility-team

# Authentication service with enhanced security
src/backend/services/auth-service/**/* @security-team @backend-team @compliance-team

# Infrastructure and deployment
infrastructure/**/* @devops-team @security-team @cloud-architecture-team

# CI/CD workflows
.github/workflows/* @devops-team @security-team

# Database migrations
src/backend/db/migrations/* @database-team @backend-team @security-team

# Security configurations
infrastructure/security/* @security-team @compliance-team

# Shared backend utilities
src/backend/shared/**/* @backend-team @architecture-team @security-team

# UI components
src/web/src/components/**/* @frontend-team @ui-team @accessibility-team

# Task service
src/backend/services/task-service/**/* @backend-team @performance-team

# Project service
src/backend/services/project-service/**/* @backend-team @data-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/modules/redis/main.tf
  infrastructure/terraform/modules/redis/main.tf
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/modules/redis/outputs.tf
  infrastructure/terraform/modules/redis/outputs.tf
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/modules/redis/variables.tf
  infrastructure/terraform/modules/redis/variables.tf
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/modules/s3/main.tf
  infrastructure/terraform/modules/s3/main.tf
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/modules/s3/outputs.tf
  infrastructure/terraform/modules/s3/outputs.tf
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/modules/s3/variables.tf
  infrastructure/terraform/modules/s3/variables.tf
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/README.md
  src/backend/README.md
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/lerna.json
  src/backend/lerna.json
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/package.json
  src/backend/package.json
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/db/migrations/001_create_users.ts
  src/backend/db/migrations/001_create_users.ts
Owners: @database-team, @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/db/migrations/002_create_projects.ts
  src/backend/db/migrations/002_create_projects.ts
Owners: @database-team, @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/db/migrations/003_create_tasks.ts
  src/backend/db/migrations/003_create_tasks.ts
Owners: @database-team, @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/db/migrations/004_create_notifications.ts
  src/backend/db/migrations/004_create_notifications.ts
Owners: @database-team, @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/db/migrations/005_create_files.ts
  src/backend/db/migrations/005_create_files.ts
Owners: @database-team, @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/db/seeds/development/001_seed_users.ts
  src/backend/db/seeds/development/001_seed_users.ts
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/db/seeds/development/002_seed_projects.ts
  src/backend/db/seeds/development/002_seed_projects.ts
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/db/seeds/test/001_test_users.ts
  src/backend/db/seeds/test/001_test_users.ts
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/db/seeds/test/002_test_projects.ts
  src/backend/db/seeds/test/002_test_projects.ts
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/k8s/api-gateway-deployment.yaml
  src/backend/k8s/api-gateway-deployment.yaml
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/k8s/auth-service-deployment.yaml
  src/backend/k8s/auth-service-deployment.yaml
Owners: @backend-team, @security-team
