Repository vaibhav-blitzy/trial-project-3-ex2zz4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @accessibility-team, @compliance-team, @devops-team, @cloud-architecture-team, @database-team, @architecture-team, @ui-team, @performance-team, @data-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/file-service/src/validators/file.validator.ts
  src/backend/services/file-service/src/validators/file.validator.ts
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/file-service/test/file.test.ts
  src/backend/services/file-service/test/file.test.ts
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/notification-service/Dockerfile
  src/backend/services/notification-service/Dockerfile
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/notification-service/package.json
  src/backend/services/notification-service/package.json
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/notification-service/tsconfig.json
  src/backend/services/notification-service/tsconfig.json
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/notification-service/src/app.ts
  src/backend/services/notification-service/src/app.ts
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/notification-service/src/config/email.config.ts
  src/backend/services/notification-service/src/config/email.config.ts
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/notification-service/src/controllers/notification.controller.ts
  src/backend/services/notification-service/src/controllers/notification.controller.ts
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/notification-service/src/models/notification.model.ts
  src/backend/services/notification-service/src/models/notification.model.ts
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/notification-service/src/services/email.service.ts
  src/backend/services/notification-service/src/services/email.service.ts
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/notification-service/src/services/notification.service.ts
  src/backend/services/notification-service/src/services/notification.service.ts
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/notification-service/test/notification.test.ts
  src/backend/services/notification-service/test/notification.test.ts
Owners: @backend-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/project-service/Dockerfile
  src/backend/services/project-service/Dockerfile
Owners: @backend-team, @data-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/project-service/package.json
  src/backend/services/project-service/package.json
Owners: @backend-team, @data-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/project-service/tsconfig.json
  src/backend/services/project-service/tsconfig.json
Owners: @backend-team, @data-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/project-service/src/app.ts
  src/backend/services/project-service/src/app.ts
Owners: @backend-team, @data-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/project-service/src/config/database.config.ts
  src/backend/services/project-service/src/config/database.config.ts
Owners: @backend-team, @data-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/project-service/src/controllers/project.controller.ts
  src/backend/services/project-service/src/controllers/project.controller.ts
Owners: @backend-team, @data-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/project-service/src/models/project.model.ts
  src/backend/services/project-service/src/models/project.model.ts
Owners: @backend-team, @data-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/project-service/src/repositories/project.repository.ts
  src/backend/services/project-service/src/repositories/project.repository.ts
Owners: @backend-team, @data-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/project-service/src/services/project.service.ts
  src/backend/services/project-service/src/services/project.service.ts
Owners: @backend-team, @data-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/project-service/src/validators/project.validator.ts
  src/backend/services/project-service/src/validators/project.validator.ts
Owners: @backend-team, @data-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/project-service/test/project.test.ts
  src/backend/services/project-service/test/project.test.ts
Owners: @backend-team, @data-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/task-service/Dockerfile
  src/backend/services/task-service/Dockerfile
Owners: @backend-team, @performance-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/task-service/package.json
  src/backend/services/task-service/package.json
Owners: @backend-team, @performance-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/task-service/tsconfig.json
  src/backend/services/task-service/tsconfig.json
Owners: @backend-team, @performance-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/task-service/src/app.ts
  src/backend/services/task-service/src/app.ts
Owners: @backend-team, @performance-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/task-service/src/config/database.config.ts
  src/backend/services/task-service/src/config/database.config.ts
Owners: @backend-team, @performance-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/task-service/src/controllers/task.controller.ts
  src/backend/services/task-service/src/controllers/task.controller.ts
Owners: @backend-team, @performance-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/task-service/src/models/task.model.ts
  src/backend/services/task-service/src/models/task.model.ts
Owners: @backend-team, @performance-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/task-service/src/repositories/task.repository.ts
  src/backend/services/task-service/src/repositories/task.repository.ts
Owners: @backend-team, @performance-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/task-service/src/services/task.service.ts
  src/backend/services/task-service/src/services/task.service.ts
Owners: @backend-team, @performance-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/task-service/src/validators/task.validator.ts
  src/backend/services/task-service/src/validators/task.validator.ts
Owners: @backend-team, @performance-team

Add public-samples/trial-project-3-ex2zz4/src/backend/services/task-service/test/task.test.ts
  src/backend/services/task-service/test/task.test.ts
Owners: @backend-team, @performance-team

Add public-samples/trial-project-3-ex2zz4/src/backend/shared/constants/error-codes.ts
  src/backend/shared/constants/error-codes.ts
Owners: @backend-team, @architecture-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/shared/constants/status-codes.ts
  src/backend/shared/constants/status-codes.ts
Owners: @backend-team, @architecture-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/shared/interfaces/auth.interface.ts
  src/backend/shared/interfaces/auth.interface.ts
Owners: @backend-team, @architecture-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/shared/interfaces/file.interface.ts
  src/backend/shared/interfaces/file.interface.ts
Owners: @backend-team, @architecture-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/shared/interfaces/notification.interface.ts
  src/backend/shared/interfaces/notification.interface.ts
Owners: @backend-team, @architecture-team, @security-team

Add public-samples/trial-project-3-ex2zz4/src/backend/shared/interfaces/project.interface.ts
  src/backend/shared/interfaces/project.interface.ts
Owners: @backend-team, @architecture-team, @security-team

.github/CODEOWNERS:

* @project-leads

# Backend service ownership
src/backend/**/* @backend-team @security-team

# Frontend application ownership
src/web/**/* @frontend-team @accessibility-team

# Authentication service with enhanced security
src/backend/services/auth-service/**/* @security-team @backend-team @compliance-team

# Infrastructure and deployment
infrastructure/**/* @devops-team @security-team @cloud-architecture-team

# CI/CD workflows
.github/workflows/* @devops-team @security-team

# Database migrations
src/backend/db/migrations/* @database-team @backend-team @security-team

# Security configurations
infrastructure/security/* @security-team @compliance-team

# Shared backend utilities
src/backend/shared/**/* @backend-team @architecture-team @security-team

# UI components
src/web/src/components/**/* @frontend-team @ui-team @accessibility-team

# Task service
src/backend/services/task-service/**/* @backend-team @performance-team

# Project service
src/backend/services/project-service/**/* @backend-team @data-team
