Repository vaibhav-blitzy/trial-project-3-ex2zz4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @accessibility-team, @compliance-team, @devops-team, @cloud-architecture-team, @database-team, @architecture-team, @ui-team, @performance-team, @data-team

.github/CODEOWNERS:

* @project-leads

# Backend service ownership
src/backend/**/* @backend-team @security-team

# Frontend application ownership
src/web/**/* @frontend-team @accessibility-team

# Authentication service with enhanced security
src/backend/services/auth-service/**/* @security-team @backend-team @compliance-team

# Infrastructure and deployment
infrastructure/**/* @devops-team @security-team @cloud-architecture-team

# CI/CD workflows
.github/workflows/* @devops-team @security-team

# Database migrations
src/backend/db/migrations/* @database-team @backend-team @security-team

# Security configurations
infrastructure/security/* @security-team @compliance-team

# Shared backend utilities
src/backend/shared/**/* @backend-team @architecture-team @security-team

# UI components
src/web/src/components/**/* @frontend-team @ui-team @accessibility-team

# Task service
src/backend/services/task-service/**/* @backend-team @performance-team

# Project service
src/backend/services/project-service/**/* @backend-team @data-team

Add public-samples/trial-project-3-ex2zz4/.github/dependabot.yml
  .github/dependabot.yml
Owners: @project-leads

Add public-samples/trial-project-3-ex2zz4/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @project-leads

Add public-samples/trial-project-3-ex2zz4/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-leads

Add public-samples/trial-project-3-ex2zz4/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-leads

Add public-samples/trial-project-3-ex2zz4/.github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @devops-team, @security-team

Add public-samples/trial-project-3-ex2zz4/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @devops-team, @security-team

Add public-samples/trial-project-3-ex2zz4/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @devops-team, @security-team

Add public-samples/trial-project-3-ex2zz4/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @project-leads

Add public-samples/trial-project-3-ex2zz4/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @project-leads

Add public-samples/trial-project-3-ex2zz4/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @project-leads

Add public-samples/trial-project-3-ex2zz4/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @project-leads

Add public-samples/trial-project-3-ex2zz4/infrastructure/backup/backup-locations.yaml
  infrastructure/backup/backup-locations.yaml
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/backup/schedule-backup.yaml
  infrastructure/backup/schedule-backup.yaml
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/backup/velero-config.yaml
  infrastructure/backup/velero-config.yaml
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/istio/authorization-policies.yaml
  infrastructure/istio/authorization-policies.yaml
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/istio/destination-rules.yaml
  infrastructure/istio/destination-rules.yaml
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/istio/gateway.yaml
  infrastructure/istio/gateway.yaml
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/istio/request-authentication.yaml
  infrastructure/istio/request-authentication.yaml
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/istio/service-entries.yaml
  infrastructure/istio/service-entries.yaml
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/istio/virtual-service.yaml
  infrastructure/istio/virtual-service.yaml
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/monitoring/elk/elasticsearch.yml
  infrastructure/monitoring/elk/elasticsearch.yml
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/monitoring/elk/filebeat.yml
  infrastructure/monitoring/elk/filebeat.yml
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/monitoring/elk/kibana.yml
  infrastructure/monitoring/elk/kibana.yml
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/monitoring/elk/logstash.conf
  infrastructure/monitoring/elk/logstash.conf
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/monitoring/grafana/datasources.yml
  infrastructure/monitoring/grafana/datasources.yml
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/monitoring/grafana/dashboards/api-gateway.json
  infrastructure/monitoring/grafana/dashboards/api-gateway.json
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/monitoring/grafana/dashboards/business.json
  infrastructure/monitoring/grafana/dashboards/business.json
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/monitoring/grafana/dashboards/infrastructure.json
  infrastructure/monitoring/grafana/dashboards/infrastructure.json
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/monitoring/grafana/dashboards/services.json
  infrastructure/monitoring/grafana/dashboards/services.json
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/prometheus.yml
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/security/encryption-config.yaml
  infrastructure/security/encryption-config.yaml
Owners: @security-team, @compliance-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/security/network-policies.yaml
  infrastructure/security/network-policies.yaml
Owners: @security-team, @compliance-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/security/pod-security-policies.yaml
  infrastructure/security/pod-security-policies.yaml
Owners: @security-team, @compliance-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/security/secret-store.yaml
  infrastructure/security/secret-store.yaml
Owners: @security-team, @compliance-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @security-team, @cloud-architecture-team

Add public-samples/trial-project-3-ex2zz4/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @devops-team, @security-team, @cloud-architecture-team
